<nav class="white">
        <div class= "nav-wrapper">
            <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
            <ul id="nav-mobile" class="center-align">
                <li><a href="/profile" class="navProfile">Profile</a></li>
                <li><a href="/login" class="navLogin">Login</a></li>
                <li><a href="/signup" class="navSignup">Sign Up</a></li>
            </ul>
        </div>
    </nav>

<div class="login-image z-depth-5">
    <div class="row" id="about-card">
        <div class="col l6 m12 offset-l3">
            <div class="card white z-depth-5">
                <div class="card-content black-text">
                    <span class="card-title">About us</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <div class="fixed-action-btn horizontal click-to-toggle">
                        <a class="btn-floating black btn-small">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating">
                                <i class="red fa fa-facebook"></i> Sign in with facebook</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-instagram"></i> Sign in with instagram</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-tumblr"></i> Sign in with tumblr</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-google"></i> Sign in with google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>