
<!--<div class="navbar-fixed white black-text">-->
    <!--<div class="row" id="brand-logo">-->
        <!--<a href="#" class="brand-logo">Screen Printer</a>-->
    <!--</div>-->
        <!--<div class="valign-wrapper">-->
            <!--<ul id="nav-tabs" class="tabs center">-->
                 <!--<li class="tab col s6 active"><a href="/" class="black-text">About</a></li>-->
                 <!--<li class="tab col s6 active"><a href="/login" class="black-text">Login</a></li>-->
                 <!--<li class="tab col s6 active"><a href="/register" class="black-text">Register</a></li>-->
            <!--</ul>-->
       <!--</div>-->
<!--</div>-->
<nav class = "grey darken-2 white-text">
    <divk class="nav-wrapper">
        <div class ="row">
            <a href="#" class="brand-logo center">NEED A NAMMMEEEE</a>
        </div>
        <div class="row">
            <ul id="nav-mobile" class="center-align hide-on-med-and-down">
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
            </ul>
        </div>
    </divk>
</nav>


<div class="row valign-wrapper" id="about-card">
    <div class="col l6 m12 offset-l3">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">About us</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <div class="fixed-action-btn horizontal click-to-toggle">
                    <a class="btn-floating black btn-small">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating">
                            <i class="fa fa-facebook"></i> Sign in with facebook</a></li>
                        <li><a class="btn-floating">
                            <i class="fa fa-instagram"></i> Sign in with instagram</a></li>
                        <li><a class="btn-floating">
                            <i class="fa fa-tumblr"></i> Sign in with tumblr</a></li>
                        <li><a class="btn-floating">
                            <i class="fa fa-google"></i> Sign in with google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="grid container grey lighten-4">
        <div class="grid-sizer"></div>
        <div class="grid-item"><img src="https://www.bibaloo.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/k/k/kk10008_kenzo_kids_girls_old_pink_tiger_long_sleeve_t-shirt_1.png"></div>
        <div class="grid-item"><img src="http://streetwearmuse.com/image/cache/data/Kenzo/T-Shirts/kenzo-logo-kenzo-paris-crewneck-tshirt-black-1-900x900.png"></div>
        <div class="grid-item"><img src="https://i.ebayimg.com/images/g/L~MAAOSwuxFY3oZG/s-l300.png"></div>
        <div class="grid-item"><img src="http://sneakerprestige.com/image/cache/data/Kenzo/Sweaters/kenzo-lotus-eye-sweater-black-1-845x1000.png"></div>
        <div class="grid-item"><img src="https://www.teerockin.com/wp-content/uploads/2017/10/image-3632.png"></div>
        <div class="grid-item"><img src="https://www.bibaloo.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/4/3/43908_16h_ki10638_20.png"></div>
    </div>
