<nav class = "white">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/signup" class="navSignup">Sign Up</a></li>
            <li><a href="/about" class="navAbout">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card blue-grey darken-1" id="profileCard">
        <div class="card-content white-text">
                <div class="row col s12">
                    <h2>Success! You are now logged in as  {{ user.username }}.</h2>
                    <p>Check out your <a href="/profile">profile</a> here</p>
                    <p>Go <a href="/">home</a></p>
                </div>
        </div>
    </div>
</div>

