<!--<nav class = "grey darken-2 white-text">-->
    <!--<div class="nav-wrapper">-->
        <!--<a href="#" class="brand-logo">NEED A NAMMMEEEE</a>-->
        <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
            <!--<li><a href="/">About</a></li>-->
            <!--<li><a href="/login">Login</a></li>-->
            <!--<li><a href="/register">Register</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<div class="navbar-fixed white black-text">
    <div class="row" id="brand-logo">
        <a href="#" class="brand-logo">Screen Printer</a>
    </div>
    <div class="valign-wrapper">
        <ul id="nav-tabs" class="tabs center">
            <li class="tab col s6 active"><a href="/" class="black-text">About</a></li>
            <li class="tab col s6 active"><a href="/login" class="black-text">Login</a></li>
            <li class="tab col s6 active"><a href="/signup" class="black-text">Signup</a></li>
            <li class="tab col s6 active"><a href="/index" class="black-text">Home</a></li>
        </ul>
    </div>
</div>

<div class ="container grey darken-2" id ="forgotPWForm">
    <div class="row">
        <div class="col s12  card">
            <form id ="form">
                <h4 class="center-align grey-text darken-2-text">Input your email so we can send you the password to your account</h4>


                <div class ="row">
                    <div class="col s3">

                    </div>
                    <div class="input-field col s6" id="email">
                        <label for="emailpw">Email: </label>
                        <input class="form-control" id="emailpw" class = "validate" name ="emailpw" type="email" required>
                    </div>
                </div>

                <div class="col s12 center-align center section">
                    <button class="btn waves-effect waves-light light-blue accent-4" id="forgot" type="submit" name="action">Send me password</button>
                </div>

            </form>
        </div>
    </div>
</div>
