
<nav class = "grey darken-2 white-text">
    <div class="nav-wrapper">
        <div class ="row">
            <a href='/' class="brand-logo center">NEED A NAMMMEEEE</a>
        </div>
        <div class="row">
            <ul id="nav-mobile" class="center-align routeLinks hide-on-med-and-down">
                <li class ="routeLink"><a href="/about">About</a></li>
                <li class ="routeLink"><a href="/login">Login</a></li>
                <li class ="routeLink"><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="grid container grey lighten-4">
    <div class="grid-sizer"></div>
    <div class="grid-item"><img src="https://www.bibaloo.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/k/k/kk10008_kenzo_kids_girls_old_pink_tiger_long_sleeve_t-shirt_1.png"></div>
    <div class="grid-item"><img src="http://streetwearmuse.com/image/cache/data/Kenzo/T-Shirts/kenzo-logo-kenzo-paris-crewneck-tshirt-black-1-900x900.png"></div>
    <div class="grid-item"><img src="https://i.ebayimg.com/images/g/L~MAAOSwuxFY3oZG/s-l300.png"></div>
    <div class="grid-item"><img src="http://sneakerprestige.com/image/cache/data/Kenzo/Sweaters/kenzo-lotus-eye-sweater-black-1-845x1000.png"></div>
    <div class="grid-item"><img src="https://www.teerockin.com/wp-content/uploads/2017/10/image-3632.png"></div>
    <div class="grid-item"><img src="https://www.bibaloo.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/4/3/43908_16h_ki10638_20.png"></div>
</div>


