
<nav class= "black-text white">
    <div class= "nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align hide-on-med-and-down">
            <li><a href="/signup" class="black-text">Sign Up</a></li>
            <li><a href="/about" class="black-text">Home</a></li>
        </ul>
    </div>
</nav>

<div class ="container" id ="loginForm">
<div class="row" align="center">
    <div class="login-image col s12 card white z-depth-5" align="center">
        <div class="card col s12 white z-depth-5" id="loginCard" align="center">
            <div class="card-content black-text" align="center">
                <form id ="form" method="post" action="/login" class="justify-content-center">
                <h4 class="center-align black-text">Login</h4>
                <div class ="row">
                <div class="form-group col s8 white">
                    <i class="material-icons prefix">account_circle</i>
                    <label>User Name: </label>
                    <input class="form-control" id="username-input" class = "validate" name ="username" type="text" required>
                        </div>
                            </div>
            <div class ="row col s12">
                <div class="form-group col s8 white">
                    <i class="material-icons prefix">lock_outline</i>
                    <label>Password: </label>
                    <input class="form-control " id="password-input" class = "validate" name ="password" type="password" required>
                </div>
            </div>

            <div class = "row col s12">
                <a class="links white-text accent-4-text" id="registerAccount" href="/signup"><strong>Don't have an account? Sign up here</strong></a>
            </div>

            <div class="row col s12 center-align center section">
                <button class="btn white-text" id="login" type="submit" name="action">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <footer class="row col s12">
        <p><a href="/logout">Logout</a></p>
    </footer>

</div>


