<nav class = "grey darken-2 white-text">
    <div class="nav-wrapper">
        <div class ="row">
            <a href='/' class="brand-logo center">NEED A NAMMMEEEE</a>
        </div>
        <div class="row">
            <ul id="nav-mobile" class="center-align routeLinks hide-on-med-and-down">
                <li class ="routeLink"><a href="/about">About</a></li>
                <li class ="routeLink"><a href="/login">Login</a></li>
                <li class ="routeLink"><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>{{user}}</h1>

<div class ="container grey darken-2" id ="loginForm">
    <div class="row">
        <div class="col s12  card">
            <form id ="form" method="post" action="/login">
                <h4 class="center-align grey-text darken-2-text">Login</h4>
                <div class ="row col s8">
                    <div class="form-group col s8">
                        <i class="material-icons prefix">account_circle</i>
                        <label>User Name: </label>
                        <input class="form-control" id="username-input" class = "validate" name ="username" type="text" required>
                    </div>
                </div>

                <div class ="row">
                    <div class="form-group col s8 ">
                        <i class="material-icons prefix">lock_outline</i>
                        <label>Password: </label>
                        <input class="form-control " id="password-input" class = "validate" name ="password" type="password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col s8">
                        <label>Remember Me</label>
                        <input type="checkbox" class="form-control" name="remember" value="yes">
                    </div>
                </div>

                <div class = "test">
                    <a class="links light-blue-text accent-4-text" id="forgotP" href="/views/forgotPW.handlebars">Forgot Password</a>

                    <br>

                    <a class="links light-blue-text accent-4-text" id="registerAccount" href="/signup">Don't have an account? Register here</a>
                </div>

                <div class="col s12 center-align center section">
                    <button class="btn waves-effect waves-light light-blue accent-4" id="login" type="submit" name="action">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


