<div class ="container" id ="loginForm">

<nav class = "grey darken-2 white-text">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align hide-on-med-and-down">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/about">Home</a></li>
        </ul>
    </div>
</nav>

    <!--<div class="row" id="about-card">-->
        <!--<div class="iris col l6 m12 offset-l3">-->
            <!--<div class="card white z-depth-5">-->
                <!--<div class="card-content black-text">-->
                    <!--<span class="card-title">About us</span>-->
                    <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                        <!--I am convenient because I require little markup to use effectively.</p>-->
                <!--</div>-->
<div class="row">
    <div class="login-image col s12 card white z-depth-5">
        <div class="card white z-depth-5">
            <div class="card-content black-text">
                <form id ="form" method="post" action="/login">
                <h4 class="center-align white-text">Login</h4>
                <div class ="row">
                <div class="form-group col s8 white">
                    <i class="material-icons prefix">account_circle</i>
                    <label>User Name: </label>
                    <input class="form-control" id="username-input" class = "validate" name ="username" type="text" required>
                        </div>
                            </div>
            <div class ="row">
                <div class="form-group col s8 white">
                    <i class="material-icons prefix">lock_outline</i>
                    <label>Password: </label>
                    <input class="form-control " id="password-input" class = "validate" name ="password" type="password" required>
                </div>
            </div>

            <div class = "test">
                <a class="links white-text accent-4-text" id="forgotP" href="/views/forgotPW.handlebars"><strong>Forgot Password</strong></a>

                <br>

                <a class="links white-text accent-4-text" id="registerAccount" href="/signup"><strong>Don't have an account? Register here</strong></a>
            </div>

            <div class="col s12 center-align center section">
                <button class="btn white-text" id="login" type="submit" name="action">Login
                </button>
            </div>
        </form>
    </div>
</div>

    <footer class="row col s12">
        <p><a href="/logout">Logout</a></p>
    </footer>

</div>


