<nav class = "white">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/placeorder" class="navLogin">Place Order</a></li>
            <li><a href="/logout" class="navSignup">Logout</a></li>
        </ul>
    </div>
</nav>
<!--<div class ="row">-->
    <!--<p> Hello {{ user.user_first_name }}, create your order below. Don't worry about the exact details of the shirt just yet, once we-->
        <!--receive your order we will contact you to get your desired layout for the front and back of the shirt. We can create the full design-->
        <!--for you, but if you have a design of your own that you would like to use, feel free to upload it!</p>-->
<!--</div>-->
<div class ="login-image z-depth-5" id ="placeOrderForm">
    <div class="row">
        <div class = "col s6 place-image center-align">
            <div class="placeholderColorImage"></div>
        </div>
        <div class="col s6">
            <form id ="form ">
                <h2 class="center-align red-text" id="placeOrder">Place Order</h2>
                <!--<a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">info</i></a>-->
                <!-- Tap Target Structure -->
                <div class="tap-target" data-activates="menu">
                    <div class="tap-target-content">
                        <h5>Title</h5>
                        <p>A bunch of text</p>
                    </div>
                </div>


                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class="center col s6">
                        <select class="browser-default size white lighten-1">
                            <option class =" grey lighten-1" value="" disabled selected>Size</option>
                            <option class =" grey lighten-1" value="small">small</option>
                            <option class =" grey lighten-1" value="medium">medium</option>
                            <option class =" grey lighten-1" value="large">large</option>
                        </select>
                    </div>
                </div>
                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class="center col s6">
                        <select class="browser-default shirt_type white lighten-1">
                            <option class =" grey lighten-1" value="" disabled selected>Type of Shirt</option>
                            <option class =" grey lighten-1" value="short">Short-Sleeve T-shirt</option>
                            <option class =" grey lighten-1" value="long">Long-Sleeve T-Shirt</option>
                            <option class =" grey lighten-1" value="hoodie">Hoodie</option>
                        </select>
                    </div>
                </div>

                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class="center col s6">
                        <div class="colorBox red" color="red" data-short="https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=28147644" data-long="https://images-eu.ssl-images-amazon.com/images/I/61ud7oEwSUL._UL1500_.jpg" data-hoodie="http://b2df38f86a7f09c2a0ac-475946e33defe001a473c152934553a7.r67.cf3.rackcdn.com/S00348_front.jpg"></div>
                        <div class="colorBox white" color="white" data-short="http://p.globalsources.com/IMAGES/PDT/S1156516470/Plain-White-T-shirt.jpg" data-long="http://www.theadairgroup.com/images/Adult-Long-Sleeve-T-Shirt-White_large.jpg" data-hoodie="http://i.ebayimg.com/images/i/141981968624-0-1/s-l1000.jpg"></div>
                        <div class="colorBox blue" color="blue" data-short="https://i.ebayimg.com/images/g/Ex4AAOxyrM5TH3W1/s-l300.jpg" data-long="https://i5.walmartimages.com/asr/082409d7-cdc9-432d-bd92-3c3ac15dd911_1.7a5b3cf6a429d8b99f2987a155dea5bd.jpeg" data-hoodie="https://s3-eu-west-1.amazonaws.com/images.linnlive.com/4026ef0cc7c4844b9d335306aa30fe5c/d8860e88-c3b8-4e4f-a5a4-3869bfbe7a56.jpg"></div>
                        <div class="colorBox green" color="green" data-short="https://i.ebayimg.com/images/g/2MoAAOxyUI1TH3TE/s-l300.jpg" data-long="https://www.entripy.com/content/images/thumbs/0023113_jerzees-hidensi-t-long-sleeve-t-shirt.jpeg" data-hoodie="https://s3-eu-west-1.amazonaws.com/images.linnlive.com/4026ef0cc7c4844b9d335306aa30fe5c/6745cb2b-5b01-44cc-8c1c-d2e1764920a5.jpg"></div>
                        <div class="colorBox black" color="black" data-short=https://gd.image-gmkt.com/SGP-SALE-CHEAP-PLAIN-MAN-TSHIRT-MAN-SHIRT-BLACK-TEE-SHIRT-MEN/li/558/823/606823558.g_400-w_g.jpg" data-long="https://www.sunspel.com/media/catalog/product/cache/4/small_image/500x/9df78eab33525d08d6e5fb8d27136e95/m/t/mtsh5013-bkaa.jpg" data-hoodie="https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=73405156"></div>
                        <div class="colorBox yellow" color="yellow" data-short="https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=8264785" data-long="https://i5.walmartimages.com/asr/41cac9c0-f014-44d0-8549-2952bacb40ed_1.caef78b848d9becab4e330ab93c44a6c.jpeg" data-hoodie="https://s3-eu-west-1.amazonaws.com/megaimage/mega-lutbc1072-20.jpg"></div>
                    </div>
                </div>
                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class="input-group col s6 pickQuantity">
                                    <span class="input-group-btn">
                                        <button type="button" class="center red quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <i class="material-icons">remove</i>
                                        </button>
                                    </span>
                        <input type="text" id="quantity" name="quantity" class="input-number center" value="1" >
                        <span class="input-group-btn">
                                        <button type="button" class="center red quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                         <i class="material-icons center">add</i>
                                        </button>
                                    </span>
                    </div>
                </div>
                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class ="center col s6">
                        <textarea id="notes" class ="grey lighten-4" name="notes" placeholder="Tell us about your design" ></textarea>
                    </div>
                </div>
                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class ="center col s6">
                        <p id ="addPrice" class="center red-text"><strong>Price:</strong></p>
                    </div>
                </div>
                <div class ="row center">
                    <div class="col s3">
                    </div>
                    <div class="col s6 center-align center section">
                        <button class="btn waves-effect waves-light red" id="placeorder" type="submit" name="action">Place Order
                        </button>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>

<script>
    var price;

//    var quantitiy=0;
    $('.quantity-right-plus').click(function(e){

        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());

        // If is not undefined

        $('#quantity').val(quantity + 1);
        $('#addPrice').empty()


        $('#addPrice').empty()
        var q =  $('#quantity').val()
        var shortp= 12;
        var longp = 15;
        var hoodiep = 18;

       if($(".shirt_type").val() === "short"){
           price = shortp * q
       }
        if($(".shirt_type").val() === "long"){
            price = longp * q
        }
        if($(".shirt_type").val() === "hoodie"){
            price = hoodiep * q
        }
        $('#addPrice').append("Price: " + price)



    });

    $('.quantity-left-minus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());

        // If is not undefined

        // Increment
        if(quantity>1){
            $('#quantity').val(quantity - 1);

            $('#addPrice').empty()
            var q =  $('#quantity').val()
            var shortp= 12;
            var longp = 15;
            var hoodiep = 18;

            if($(".shirt_type").val() === "short"){
                price = shortp * q
            }
            if($(".shirt_type").val() === "long"){
                price = longp * q
            }
            if($(".shirt_type").val() === "hoodie"){
                price = hoodiep * q
            }
            $('#addPrice').append("Price: " + price)

        }


    });

var color;

    $('.colorBox').on('mouseover', function() {
        event.preventDefault();

        var setShirt = "data-short";
        var defineShirt = $(".shirt_type").val()
        color = $(this).attr("color");

        $('.place-image').empty();


        if (defineShirt ==="long"){
            setShirt = "data-long"
        }
        if(defineShirt ==="hoodie"){
            setShirt = "data-hoodie"
        }

        console.log("shirt type= " + defineShirt)
        var imageLink  =$(this).attr(setShirt);
        console.log(imageLink);

        var addImage = '<img class = "colorImage" src="' + imageLink + '">';
        console.log(addImage);

        $('.place-image').append(addImage);





    })

    $('.shirt_type').change(function() {

        $('#addPrice').empty()
        var q = $("#quantity").val()
        var shortp= 12;
        var longp = 15;
        var hoodiep = 18;

       if($(this).val() === "short"){
           price = shortp * q
       }
        if($(this).val() === "long"){
            price = longp * q
        }
        if($(this).val() === "hoodie"){
            price = hoodiep * q
        }
        $('#addPrice').append("Price: " + price)

    })

        $('#placeorder').click(function() {

            console.log("size " + $(".size").val())
            console.log("color " + color)
            console.log("quantity " + $("#quantity").val())
            console.log("shirt  " + $(".shirt_type").val())
            console.log("notes " + $("#notes").val())

            var size = $(".size").val();
            var quantity = $("#quantity").val()
            var shirtType = $(".shirt_type").val()
            var notes = $("#notes").val()


            var newUserOrder = {
                username: "{{user.username}}",
                size: size,
                price: price,
                shirt_type: shirtType,
                color: color,
                quantity: quantity,
                notes: notes
            };

            console.log(newUserOrder);

//         Send the POST request.
            $.ajax("/newOrder", {
                type: "POST",
                data: newUserOrder
            }).then(function () {
                //this should log to browser console to let us know that the database has been updated
                console.log("created new order");
                // Reload the page to get the updated list
                location.reload();
            })
        })

</script>

