<!--<nav class = “grey darken-2 white-text”>-->
<!--<div class=“nav-wrapper”>-->
<!--<a href=“#” class=“brand-logo”>NEED A NAMMMEEEE</a>-->
<!--<ul id=“nav-mobile” class=“right hide-on-med-and-down”>-->
<!--<li><a href=“/”>About</a></li>-->
<!--<li><a href=“/login”>Login</a></li>-->
<!--<li><a href=“/register”>Register</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->



<nav class = "grey darken-2 white-text">
    <div class="nav-wrapper">
        <div class ="row">
            <a href='/' class="brand-logo center">NEED A NAMMMEEEE</a>
        </div>
        <div class="row">
            <ul id="nav-mobile" class="center-align routeLinks hide-on-med-and-down">
                <li class ="routeLink"><a href="/about">About</a></li>
                <li class ="routeLink"><a href="/login">Login</a></li>
                <li class ="routeLink"><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class ="row">
    <p>Create your order below. Don’t worry about the exact details of the shirt just yet, once we
        receive your order we will contact you to get your desired layout for the front and back of the shirt. We can create the full design
        for you, but if you have a design of your own that you would like to use, feel free to upload it!</p>
</div>
<div class ="container grey darken-2" id ="registerForm">

    <div class="row">
        <div class = "col s6 left place-image">
            <div class="placeholderColorImage"></div>
        </div>
        <div class="col s6 right">
            <form id ="form">
                <h4 class="center-align grey-text darken-2-text">Place Order</h4>
                <div class ="row">
                    <div class="s3">
                    </div>
                    <div class="center">
                        <select class="browser-default col s8 size">
                            <option value="" disabled selected>Size</option>
                            <option value="small">small</option>
                            <option value="medium">medium</option>
                            <option value="large">large</option>
                        </select>
                    </div>
                </div>
                <div class ="row">
                    <div class="s3">
                    </div>
                    <div class="center">
                        <select class="browser-default col s8 typeShirt">
                            <option value="" disabled selected>Type of Shirt</option>
                            <option value="short">Short-Sleeve T-shirt</option>
                            <option value="long">Long-Sleeve T-Shirt</option>
                            <option value="hoodie">Hoodie</option>
                        </select>
                    </div>
                </div>
                <div class ="row">
                    <div class="center">
                        <div class="colorBox red" data-short=“https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=28147644” data-long=“https://images-eu.ssl-images-amazon.com/images/I/61ud7oEwSUL._UL1500_.jpg” data-hoodie=“http://b2df38f86a7f09c2a0ac-475946e33defe001a473c152934553a7.r67.cf3.rackcdn.com/S00348_front.jpg”></div>
                        <div class="colorBox white" data-short=“http://p.globalsources.com/IMAGES/PDT/S1156516470/Plain-White-T-shirt.jpg” data-long=“http://www.theadairgroup.com/images/Adult-Long-Sleeve-T-Shirt-White_large.jpg” data-hoodie=“http://i.ebayimg.com/images/i/141981968624-0-1/s-l1000.jpg”></div>
                        <div class="colorBox blue" data-short=“https://i.ebayimg.com/images/g/Ex4AAOxyrM5TH3W1/s-l300.jpg” data-long=“https://i5.walmartimages.com/asr/082409d7-cdc9-432d-bd92-3c3ac15dd911_1.7a5b3cf6a429d8b99f2987a155dea5bd.jpeg” data-hoodie=“https://s3-eu-west-1.amazonaws.com/images.linnlive.com/4026ef0cc7c4844b9d335306aa30fe5c/d8860e88-c3b8-4e4f-a5a4-3869bfbe7a56.jpg”></div>
                        <div class="colorBox green" data-short=“https://i.ebayimg.com/images/g/2MoAAOxyUI1TH3TE/s-l300.jpg” data-long=“https://www.entripy.com/content/images/thumbs/0023113_jerzees-hidensi-t-long-sleeve-t-shirt.jpeg” data-hoodie=“https://s3-eu-west-1.amazonaws.com/images.linnlive.com/4026ef0cc7c4844b9d335306aa30fe5c/6745cb2b-5b01-44cc-8c1c-d2e1764920a5.jpg”></div>
                        <div class="colorBox black" data-short=https://gd.image-gmkt.com/SGP-SALE-CHEAP-PLAIN-MAN-TSHIRT-MAN-SHIRT-BLACK-TEE-SHIRT-MEN/li/558/823/606823558.g_400-w_g.jpg” data-long=“https://www.sunspel.com/media/catalog/product/cache/4/small_image/500x/9df78eab33525d08d6e5fb8d27136e95/m/t/mtsh5013-bkaa.jpg” data-hoodie=“https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=73405156"></div>
                        <div class="colorBox yellow" data-short=“https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=8264785" data-long=“https://i5.walmartimages.com/asr/41cac9c0-f014-44d0-8549-2952bacb40ed_1.caef78b848d9becab4e330ab93c44a6c.jpeg” data-hoodie=“https://s3-eu-west-1.amazonaws.com/megaimage/mega-lutbc1072-20.jpg”></div>

                    </div>
                </div>
                <div class ="row">
                    <div class="file-field input-field col s8">
                    <div class="btn blue darken-2">
                        <span>File</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload Design">
                    </div>
                </div>
        </div>
        <div class ="row">
            <div class="col s12 center-align center section">
                <button class="btn waves-effect waves-light blue darken-2" id="register" type="submit" name="action">Place Order
                </button>
            </div>
        </div>
        </form>
    </div>





    </form>
</div>
</div>
</div>
<script>
    $('.colorBox').on('mouseover', function() {
        event.preventDefault();

        var setShirt = 'data-short';
        var defineShirt = $('.typeShirt').val();

        $('.place-image').empty();


        if (defineShirt ==='long'){
            setShirt = 'data-long'
        }
        if(defineShirt ==='hoodie'){
            setShirt = 'data-hoodie'
        }

        var imageLink  =$(this).attr(setShirt);
        console.log(imageLink);

        var addImage = '<img class = "colorImage" src="' + imageLink + '">';
        console.log(addImage)

        $('.place-image').append(addImage);
    })


</script>