<nav class = "white">
    <div class ="nav-wrapper">
        <a href="/about" class="brand-logo center black-text">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/login" class="navLogin">Login</a></li>
            <li><a href="/signup" class="navSignup">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div class="container">
        <h4 class="center-align black-text">Sign Up</h4>

        <div class="row valign-wrapper">
            <div class="card center-align col l8 offset-l2" id="loginCard">

        <form action="/signup" method="post">
            <div class="form-group col s8" id="firstName">
                <label for="fName-input">First Name </label>
                <input class="form-control" id="fName-input" name="user_first_name" class = "validate" type="text" required>
            </div>

            <div class="form-group col s8" id="lastName">
                <label>Last Name </label>
                <input class="form-control" id="lName-input" name="user_last_name" class = "validate" type="text" required>
            </div>

            <div class="form-group col s8" id="number">
                <label>Number </label>
                <input class="form-control" id="number-input" class = "validate" name="user_number" type="number">
            </div>

            <div class="form-group col s8" id="email">
                <label>Email </label>
                <input class="form-control" id="email-input" class = "validate" name="user_email" type="email" required>
            </div>

            <div class="form-group col s8">
                <label>Username</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group col s8">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn waves-effect waves-light red" id="signupSubmit">Signup</button>
        </form>
    </div>
</div>

        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}

    <footer class="row col s12">
        <p>Already have an account? <a href="/login">Login</a></p>
        <p><a href="/logout">Logout</a></p>
    </footer>
</div>