body{
    font-family: 'Roboto Slab', serif;
}

.grey.lighten-4{
    font-family: 'Noto Sans', sans-serif;
}

.test {
    text-align:center;
    margin-bottom:10px;
}

.links{
    display:inline-block;
    margin-bottom:10px;
}


#login{
    margin-bottom: 15px;
}

#loginForm, #registerForm, #forgotPWForm{
    margin-top: 5%;
}
.submit{
    margin-bottom:10px;
}
:link {
    color:black;
}


li.tab.col.s6.active {
    background-color:white;
    color:#0d47a1;
} /*Background and text color when a tab is active*/

.li.indicator {
    background-color:#0d47a1;
} /*Color of underline*/

a.brand-logo{
    font-size: 62px;
    color: #0d47a1;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 20px;
}

div.col.s12.card{
    margin-top: 30px;
}


#profileCard{
    margin-top: 10px;
}

.fixed-action-btn.horizontal ul{
    top: 10%;
    right: 0px;
    text-align: center;
    left: 0px;
}

.fixed-action-btn {
    position: relative;
    bottom: 0px;
}

.btn-floating{
    background-color: #0d47a1;
}

.btn-floating:hover{
    background-color: #9e9e9e;
}

/*MASONRY SHIT*/

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: #01579b;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 300px;
    height:300px;
    padding: 10px;
}

/*new nav*/


nav{
    background-color: #b0bec5;
    height: 72px;
}

ul.left li a{
    font-size: large;
    vertical-align: middle;
    height: 72px;
}

ul.left li{
    padding-left: 10px;
}

ul.right li {
    padding-right: 10px;
}

ul.right li a{

}
/* NEW STUFF*/

ul#nav-mobile{
    padding-top:30px;
}
nav ul li {
    display:inline-block;
    margin-top:60px;
    float:none;
}
/*.row .col.s8{*/
    /*left:inherit;*/
    /*right:auto;*/
    /*float:left;*/
    /*margin-left: 70px;*/
/*}*/

.colorBox {
    align-items: center;
    align-content: center;
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}



.colorBox:hover{

    width: 25px;
    height: 25px;
}
.colorImage, .placeholderColorImage{
    width: 270px;
    height: 320px;
    margin: 45px;
}

p{
    text-align: center;
}

nav{
    height:175px;
}

/*.pickQuantity {*/
    /*display: inline;*/
    /*margin-left: 25%;*/
/*}*/
#quantity{
    width:25%;
}


.iris {
    background-image: url("http://1.bp.blogspot.com/-SYNmi5QKsFs/UrR9KPsUQJI/AAAAAAAAD6M/iW0aYcSjo0E/s1600/IMG_6993.JPG");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.login-image{
    background-image: url("https://i.pinimg.com/originals/36/cf/76/36cf76bef9b5b80937bc26ec86e30268.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

