body {
    font-family: 'Inconsolata', monospace;
}
.test {
    text-align:center;
    margin-bottom:10px;
}

.links{
    display:inline-block;
    margin-bottom:10px;
    color:red;
}

#registerForm, #forgotPWForm{
    margin-top: 5%;
}

.submit{
    margin-bottom:10px;
}

a#navLogo{
    font-size: 62px;
    color: #0d47a1;
    text-align: center;
    display:block;
    padding-top:15px;
}

.fixed-action-btn.horizontal ul{
    top: 10%;
    right: 0px;
    text-align: center;
    left: 0px;
}

.fixed-action-btn {
    position: relative;
    bottom: 0px;
}

.btn-floating{
    background-color: #0d47a1;
}

.btn-floating:hover{
    background-color: red;
}


ul.left li a{
    font-size: large;
    vertical-align: middle;
    height: 72px;
}


nav ul li {
    display:inline-block;
    float:none;
    color:black;
}

nav ul li:hover {
    color: red;
}

.colorBox {
    /*align-items: center;*/
    /*align-content: center;*/
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}



.colorBox:hover{

    width: 25px;
    height: 25px;
}
.colorImage, .placeholderColorImage{
    width: 270px;
    height: 320px;
    margin: 45px;
}

p{
    text-align: center;
}

nav{
    height:150px;
}

#profileNav{
    height: 150px;
}

#quantity{
    width:20%;
}

.login-image{
    background-image: url("https://i.pinimg.com/originals/75/c6/1b/75c61bc2227f121a4e39f3b753a1446c.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

#loginTitle{
    padding-top: 15px;
    padding-bottom:25px;
}

#userNameInput{
    text-align: center;
    padding-top:5px;
}

#passwordInput{
    text-align: center
}

#userNameInputLabel{
    font-size: 18px;
}

#passwordInputLabel{
    font-size: 18px;
}

#password-input{
    width: 70%;
}

#username-input {
    width: 70%;
}


.form {
    display: inline-block;
}

#loginCard{
    text-align: center;
    margin: 20px auto;
}

.valign-wrapper .form-group{
    float: none;
}

#loginButtonRow{
    margin-bottom:0px;
}

.navAbout{
    color:black;
}

.navSignup{
    color: black;
}

.navHome{
    color: black;
}

.navLogin{
    color:black;
}

.navPlaceorder{
    color: black;
}

.navProfile{
    color: black;
}

.navProfile:hover{
    color:red;
    background-color: transparent;
}

.navLogin:hover{
    color:red;
    background-color: transparent;
}

.navHome:hover{
    color:red;
    background-color: transparent;
}

.navPlaceorder:hover{
    color:red;
    background-color:transparent;
}

.navSignup:hover{
    color:red;
    background-color: transparent;
}

.navAbout:hover{
    color:red;
    background-color: transparent;
}

#logoutButton {
    color: white;
}

p.center-align{
    padding-bottom: 10px;
}

#noAccount{
    padding-top:10px;
}


#loginButtonRow{
    margin-bottom:0px;
}

#signupSubmit{
    background-color:red;
    color: white;
    margin-bottom:15px;
}

#fName-input{
    width:70%;
}

#lName-input{
    width:70%;
}

#number-input{
    width:70%;
}

#email-input{
    width:70%;
}

#usernameinput{
    width:70%;
}

#passwordinput{
    width:70%;
}

#addPrice{
    color:red;
    font-size: x-large;
    text-shadow: 1px 1px 0px white;

}

#placeOrder{
    text-shadow: 1px 1px 0px white;
    width:auto;
}

.checkCircle{
    margin-top:35px;
}

#plusMinus{
    padding:0px;
}

#placeOrderContainer{
    background-color: rgba(255,255,255, 0.9);
    border-radius:15px;
}

#profileCard{
    text-shadow: 1px 1px 0px white;
    width:auto;
}

#profileContainer{
    background-color: rgba(255,255,255, 0.9);
    margin: 20px auto;
}

#signupCard{
    margin: 20px auto;
}

#aboutCard{
    margin-top:20px;
}


#orderCard{
    text-shadow: 1px 1px 0px white;
    width:auto;
}

#orderHistoryCard{
    text-shadow: 1px 1px 0px white;
    width:auto;
}
