body{
    font-family: 'Roboto Slab', serif;
}

.test {
    text-align:center;
    margin-bottom:10px;
}

.links{
    display:inline-block;
    margin-bottom:10px;
    color:red;
}

#registerForm, #forgotPWForm{
    margin-top: 5%;
}

.submit{
    margin-bottom:10px;
}

 /*Background and text color when a tab is active*/

a.brand-logo{
    font-size: 62px;
    color: #0d47a1;
    text-align: center;
    padding-top: 20px;
}

#profileCard{
    margin-top: 10px;
}

.fixed-action-btn.horizontal ul{
    top: 10%;
    right: 0px;
    text-align: center;
    left: 0px;
}

.fixed-action-btn {
    position: relative;
    bottom: 0px;
}

.btn-floating{
    background-color: #0d47a1;
}

.btn-floating:hover{
    background-color: red;
}

/*MASONRY SHIT*/

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/*new nav*/

ul.left li a{
    font-size: large;
    vertical-align: middle;
    height: 72px;
}

/* NEW STUFF*/

ul#nav-mobile{
    padding-top:30px;
}

nav ul li {
    display:inline-block;
    margin-top:60px;
    float:none;
    color:black;
}

nav ul li:hover {
    color: red;
}

.colorBox {
    align-items: center;
    align-content: center;
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}



.colorBox:hover{

    width: 25px;
    height: 25px;
}
.colorImage, .placeholderColorImage{
    width: 270px;
    height: 320px;
    margin: 45px;
}

p{
    text-align: center;
}

nav{
    height:150px;
}

#profileNav{
    height: 150px;
}

/*.pickQuantity {*/
    /*display: inline;*/
    /*margin-left: 25%;*/
/*}*/
#quantity{
    width:25%;
}


.iris {
    background-image: url("http://1.bp.blogspot.com/-SYNmi5QKsFs/UrR9KPsUQJI/AAAAAAAAD6M/iW0aYcSjo0E/s1600/IMG_6993.JPG");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.login-image{
    background-image: url("https://i.pinimg.com/originals/75/c6/1b/75c61bc2227f121a4e39f3b753a1446c.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

#loginTitle{
    padding-top: 15px;
    padding-bottom:25px;
}

#userNameInput{
    text-align: center;
    padding-top:5px;
}

#passwordInput{
    text-align: center
}

#userNameInputLabel{
    font-size: 18px;
}

#passwordInputLabel{
    font-size: 18px;
}

#password-input{
    width: 70%;
}

#username-input {
    width: 70%;
}


.form {
    display: inline-block;
}

#loginCard{
    padding-top:25px;
    text-align: center;
}

.row .col{
    float: none;
}

#loginButtonRow{
    margin-bottom:0px;
}

.navAbout{
    color:black;
}

.navSignup{
    color: black;
}

.navHome{
    color: black;
}

.navPlaceorder{
    color: black;
}

.navHome:hover{
    color:red;
    background-color: transparent;
}

.navPlaceorder:hover{
    color:red;
    background-color:transparent;
}

.navSignup:hover{
    color:red;
    background-color: transparent;
}

.navAbout:hover{
    color:red;
    background-color: transparent;
}

#logoutButton {
    color: red;
}

p.center-align{
    padding-bottom: 10px;
}

#noAccount{
    padding-top:10px;
}

